.home {
  flex: 1;
  position: relative;
  display: grid;
  place-items: center;
}

.text-box {
  text-align: center;
  max-width: 800px;
  width: 90%;
  margin: 0 auto 0;
  background-color: white;
  padding: 4rem 6rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

.text-box h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.text-box p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.text-box a {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 30px;
  color: inherit;
}

.text-box a:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (max-width: 40.625em) {
  .text-box h1 {
    font-size: 3.5rem;
  }
}
