.card-list {
  padding: 4rem 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 6rem;
  grid-column-gap: 8rem;
}

@media only screen and (max-width: 40.625em) {
  .card-list {
    padding: 4rem 5rem;
  }
}

@media only screen and (max-width: 84.375em) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 56.25em) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 34.375em) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
