.list-drop__choice {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(105%);
  background-color: white;
  list-style: none;
  border-radius: 7px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.03);
}

.list-drop__choice li {
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.list-drop__choice li:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
